{% extends 'admin_layout.html' %}

{% block content %}
    <div class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-5">
                    <form class="box" method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            {% if field.name == 'status' %}
                                <div class="select">
                                    {{ field }}
                                </div>
                            {% else %}
                                <div class="field">
                                    <div class="control">{{ field }}</div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="has-text-centered">
                            <button class="button is-info is-fullwidth">
                                Отредактировать
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}