{% extends 'base_layout.html' %}

{% block content %}
    <section class="section">
        <div class="container">
            <form method="post" class="modal is-active">
                {% csrf_token %}
                <div class="modal-background"></div>
                <div class="modal-content">
                    <div class="box has-text-centered">
                        <div class="title">
                            Подтвердите удаление
                        </div>
                        <button class="button is-success" type="submit">
                            Подтвердить
                        </button>
                        <a href="{% url 'store:orders' %}" class="button is-danger">Отмена</a>
                    </div>
                </div>
                <a href="{% url 'store:orders' %}" class="modal-close is-large"></a>
            </form>
        </div>
    </section>
{% endblock %}