{% extends 'base_layout.html' %}

{% block content %}

<div class="section">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column">
                <figure class="image is-256x256">
                    <img src="https://cdni.iconscout.com/illustration/premium/thumb/404-error-3702359-3119148.png"
                        alt="">
                </figure>
            </div>
            <div class="column">
                <div class="title is-2">
                    Что-то пошло не так
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}